<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit|ie-stand">
    <meta name="viewport" content="width=device-width">
    <title>平台管理中心</title>
    <link href="http://g.alicdn.com/bui/bui/1.1.21/css/bs3/dpl.css" rel="stylesheet">
    <link href="http://g.alicdn.com/bui/bui/1.1.21/css/bs3/bui.css" rel="stylesheet">
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="../assets/css/artdilog.css" rel="stylesheet">
    <link href="../assets/css/inner-custom.css" rel="stylesheet">
    <link href="../assets/css/admin-purchase-check.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="../../assets/js/admin/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <div class="nav_title">
        企业审核
        <a id="goback" class="back">返回企业管理</a>
    </div>

    <form  name="enterp_form" method="get" action="$request.getContextPath()/enterprise/audit.do">
        <input type="hidden" name="id" value="$!result.obj.id" />
        <input type="hidden" name="status" value="$!result.obj.status" />

        <div class="box module-box mt20 base">
            <div class="box_title">
                企业基本信息
            </div>

            <div class="row entry">
                <label for="" class="field_label">
                    <span>*</span>
                    企业名称：
                </label>
                <div class="field_value">
                    <input type="text" name="companyName" value="$!result.obj.companyName" id="compname">
                </div>
            </div>
            <div class="row entry">
                <label for="" class="field_label">
                    <span>*</span>
                    企业证件：
                </label>
                <div class="field_value cert">
                    <div class="cert_item">
                        <div class="uploadpic" id="businessimg">
                            <input class="id" id="businessid" type="hidden" name="enterprisephotoList[0].id" value="0" />
                            <input class="path" id="bussinesspath" type="hidden" name="enterprisephotoList[0].orgPath" value=""/>
                            <input class="code" type="hidden" name="enterprisephotoList[0].dictCode" value="200001" />
                            <input type='file' name="_file" class="uploadFilebtn">
                        </div>
                        <div>
                            营业执照证件
                        </div>
                        <input type="text" id="bussinesscode" name="enterprisephotoList[0].description" placeholder="*工商注册号码">
                    </div>
                    <div class="cert_item">
                        <div class="uploadpic" id="organizationimg">
                            <input class="id" id="organizationid" type="hidden" name="enterprisephotoList[1].id" value="0" />
                            <input class="path" id="organizationpath" type="hidden" name="enterprisephotoList[1].orgPath" value="" />
                            <input class="code" type="hidden" name="enterprisephotoList[1].dictCode" value="200002" />
                            <input type='file' name="_file" class="uploadFilebtn">
                        </div>
                        <div>
                            组织机构代码证
                        </div>
                        <input type="text" id="organizationcode" name="enterprisephotoList[1].description" placeholder="*组织机构代码证号码">
                    </div>
                    <div class="cert_item">
                        <div class="uploadpic" id="taximg">
                            <input class="id" id="taxid" type="hidden" name="enterprisephotoList[2].id" value="0" />
                            <input class="path" id="taxpath" type="hidden" name="enterprisephotoList[2].orgPath" value="" />
                            <input class="code" type="hidden" name="enterprisephotoList[2].dictCode" value="200003" />
                            <input type='file' name="_file" class="uploadFilebtn">
                        </div>
                        <div>
                            税务登记证
                        </div>
                        <input type="text" id="taxcode" name="enterprisephotoList[2].description" placeholder="*税务登记证号码">
                    </div>
                    <div class="cert_item">
                        <div class="uploadpic" id="creditimg">
                            <input class="id" id="creditid" type="hidden" name="enterprisephotoList[3].id" value="0" />
                            <input class="path" id="creditpath" type="hidden" name="enterprisephotoList[3].orgPath" value="" />
                            <input class="code" type="hidden" name="enterprisephotoList[3].dictCode" value="200004" />
                            <input type='file' name="_file" class="uploadFilebtn">
                        </div>
                        <div>
                            社会机构信用代码证
                        </div>
                        <input type="text" id="creditcode" name="enterprisephotoList[3].description" placeholder="社会机构信用代码证">
                    </div>
                </div>
            </div>
            <div class="row entry">
                <label for="" class="field_label">
                    <span>*</span>
                    注册资金：
                </label>
                <div class="field_value">
                    <input type="text" value="$!result.obj.registeredCapital" name="registeredCapital" id="registerCapital">
                    <span>万元</span>
                </div>
            </div>
            <div class="row entry">
                <label for="" class="field_label">
                    <span>*</span>
                    注册地址：
                </label>
                <input type="hidden" id="provid" value="$!result.obj.region.provinceId" name="$!result.obj.region.provinceName"/>
                <input type="hidden" id="citid" value="$!result.obj.region.cityId" name="$!result.obj.region.cityName"/>
                <input type="hidden" id="counid" value="$!result.obj.region.areaId" name="$!result.obj.region.areaName"/>
                <div class="field_value address_value">
                    <select id="provinceDiv" name="region.provinceId">
                        <option value="0">请选择</option>
                    </select>
                    <select id="cityDiv" name="region.cityId">
                        <option value="0">请选择</option>
                    </select>
                    <select id="countyDiv" name="region.areaId">
                        <option value="0">请选择</option>
                    </select>
                    <span id="areaNote" class="error-msg">请您选择完整的地区信息</span>
                </div>
            </div>
            <div class="row entry">
                <label for="" class="field_label">
                    &nbsp;
                </label>
                <div class="field_value">
                    <input type="text" name="companyAddress" id="companyAddress" value="$!result.obj.companyAddress" placeholder="详细地址">
                </div>
            </div>
            <div class="row entry">
                <label for="" class="field_label">
                    <span>*</span>
                    品牌授权书/注册商标证：
                </label>
                <div class="field_value cert">
                    <div class="cert_item">
                        <div class="uploadpic" id="brandimg">
                            <input type="hidden" class="id" id="brandid" name="enterprisephotoList[4].id" value="0" />
                            <input type="hidden" class="path" id="brandpath" name="enterprisephotoList[4].orgPath" value="" />
                            <input type="hidden" class="code" name="enterprisephotoList[4].dictCode" value="200008" />
                            <input type='file' name="_file" class="uploadFilebtn" href='$request.getContextPath()/upload/uploadFile?path=enterprise'>
                        </div>
                        <div>
                            品牌授权书/注册商标证
                        </div>
                        <input type="text" id="brandcode" name="enterprisephotoList[4].description" placeholder="*品牌名称">
                    </div>
                </div>
            </div>
            <div class="row entry">
                <label for="" class="field_label">
                    <span>*</span>联系人姓名：
                </label>
                <div class="field_value">
                    <input type="text" class="min" name="contactsName" id="contactName" value="$!result.obj.contactsName">
                </div>
                <label for="" class="field_label">
                    <span>*</span>手机号码：
                </label>
                <div class="field_value">
                    <input type="text" class="min" name="contactsPhone" id="contactPhone" value="$!result.obj.contactsPhone">
                </div>
            </div>
        </div>
        <div class="box module-box mt20 base">
            <div class="box_title">
                完善更多信息
            </div>
            <div class="row entry">
                <label for="" class="field_label">
                    申请人身份：
                </label>
                <div class="field_value apply">
                    <label class="active" id="attorney"for="">委托代理人</label>
                    <label for="" id="legalPerson">企业法人</label>
                </div>
            </div>
            <div class="row entry">
                <label for="" class="field_label">
                    身份证件：
                </label>
                <div class="field_value cert">
                    <div class="cert_item">
                        <div class="uploadpic" id="identityfrontimg">
                            <input type="hidden" name="enterprisephotoList[5].id" value="0" />
                            <input type="hidden" name="enterprisephotoList[5].orgPath" value="" />
                            <input type="hidden" name="enterprisephotoList[5].dictCode" value="200005" />
                            <input type='file' name="_file" class="uploadFilebtn">
                        </div>
                        <div>
                            身份证正面
                        </div>
                    </div>
                    <div class="cert_item">
                        <div class="uploadpic" id="identitybackimg">
                            <input type="hidden" name="enterprisephotoList[6].id" value="0" />
                            <input type="hidden" name="enterprisephotoList[6].orgPath" value="" />
                            <input type="hidden" name="enterprisephotoList[6].dictCode" value="200006" />
                            <input type='file' name="_file" class="uploadFilebtn">
                        </div>
                        <div>
                            身份证反面
                        </div>
                    </div>
                    <div class="cert_item" id="powerAttorney" style="display: none;">
                        <div class="uploadpic" id="attorneyimg">
                            <input type="hidden" name="enterprisephotoList[7].id" value="0" />
                            <input type="hidden" name="enterprisephotoList[7].orgPath" value="" />
                            <input type="hidden" name="enterprisephotoList[7].dictCode" value="200007" />
                            <input type='file' name="_file" class="uploadFilebtn">
                        </div>
                        <div>
                            委托书
                        </div>
                    </div>
                </div>
            </div>
            <div class="row entry">
                <label for="" class="field_label">
                    姓名：
                </label>
                <div class="field_value">
                    <input type="text" value="$!result.obj.legalPerson" name="legalPerson">
                </div>
            </div>
            <div class="row entry">
                <label for="" class="field_label">
                    证件号码：
                </label>
                <div class="field_value">
                    <input type="text" value="$!result.obj.idCardNo" name="idCardNo">
                </div>
            </div>
        </div>

    </form>


    <div class="box module-box record">
        <div class="box_title">
            客服回访记录
        </div>
        <table class="table table-bordered">
            <tr>
                <th>回访日期</th>
                <th>回访内容</th>
            </tr>
            #foreach($visitor in $!result.obj.visitVoList)
                <tr>
                    <td>$dateUtil.formatDate($!visitor.createdTime,"yyyy-MM-dd HH:mm:ss")</td>
                    <td>$!visitor.content</td>
                </tr>
            #end
        </table>
    </div>
    <div class="box module-box record">
        <div class="box_title">
            审核记录
        </div>
        <table class="table table-bordered">
            <tr>
                <th>提交时间</th>
                <th>审核人</th>
                <th>审核时间</th>
            </tr>
            <tr>
                <td>$dateUtil.formatDate($!result.obj.commitDate,"yyyy-MM-dd HH:mm:ss")</td>
                <td></td>
                <td>$dateUtil.formatDate($!result.obj.auditDate,"yyyy-MM-dd HH:mm:ss")</td>
            </tr>
        </table>
    </div>
    <div class="checkbtns box module-box">
        <button id="check_pass">审核通过</button>
        <button id="check_unpass">客户回访</button>
        <p class="tips">
            提示：客户提交图片不清晰等原因，请使用客户回访，填写失败原因。
            平台短信告知客户重新上传
        </p>
    </div>
    <input type="hidden" value="$request.getContextPath()" id="path">
    <input type="hidden" value="$result.obj.id" id="compid">
</div>
<script src="../assets/js/jquery-1.12.0.min.js"></script>
<script src="../assets/js/jquery.cookie.js"></script>
<script src="../assets/js/jquery.artDialog.js"></script>
<script src="../assets/js/artDialog.iframeTools.js"></script>
<script src="../assets/js/bui-min.js"></script>
<script src="../assets/js/bootstrap-datetimepicker.js"></script>
<script src="../assets/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="../assets/js/jquery.form.js"></script>
<script src="../assets/js/Region.js"></script>
<script src="../assets/js/jquery.imgUploadPreview.js"></script>
<script src="../assets/js/CommonJS.js"></script>
<script src="../assets/js/admin-purchase-check.js"></script>
<script type="text/javascript" language="JavaScript">
    $(document).ready(function(){
        getArea();
        if($!result.obj.cardType == "1"){
            $("#powerAttorney").hide();
            $("#attorney").removeClass("active");
            $("#legalPerson").addClass("active");
        }else{
            $("#powerAttorney").show();
            $("#attorney").addClass("active");
            $("#legalPerson").removeClass("active");
        }

        $("#attorney").click(function(){
            $("#powerAttorney").show();
            $("#attorney").addClass("active");
            $("#legalPerson").removeClass("active");
        });
        $("#legalPerson").click(function(){
            $("#powerAttorney").hide();
            $("#attorney").removeClass("active");
            $("#legalPerson").addClass("active");
        });
    });
    //注册地址回显
    function getArea(){
        var pid = $("#provid").val(),
                cid = $("#citid").val(),
                cuid = $("#counid").val();
        $('#provinceDiv').children().each(function () {
            if ($(this).val() == pid) {
                $(this).parent().val('').val(pid);
                city = fnSelect(province, pid, 'city');
                cityDiv.html('<option value="0">请选择</option>');
                countyDiv.html('<option value="0">请选择</option>');
                createElem(city, cityDiv, pid);
                $('#cityDiv').children().each(function () {
                    if ($(this).val() == cid) {
                        $(this).parent().val(cid);
                        city = fnSelect(province, pid, 'city');
                        county = fnSelect(city, cid, 'county');
                        countyDiv.html('<option value="0">请选择</option>');
                        createElem(county, countyDiv);
                        $('#countyDiv').children().each(function () {
                            if ($(this).val() == cuid) {
                                $(this).parent().val(cuid);
                            }
                        });
                        return;
                    }
                });
                return;
            }
        });
    }
</script>
<script type="text/javascript" language="JavaScript">
		$(function() {
		   var u = document.referrer;
		   $("#goback").attr("href",u);
        });
</script>
<div>
    #foreach($enterpphoto in $result.obj.enterprisephotoList)
        #if($enterpphoto.orgPath!='' && $enterpphoto.dictCode=='200001')
            <script type="text/javascript" language="JavaScript">
                if($enterpphoto.id<0){
                    $("#businessid").attr("value","0");
                }else{
                    $("#businessid").attr("value","$!enterpphoto.id");
                }
                $("#bussinesspath").attr("value","$wmStringUtils.getUrlFullDefault($!enterpphoto.orgPath)");
                $("#bussinesscode").attr("value","$!enterpphoto.description");
                var _html ='<img src="$wmStringUtils.getUrlFullDefault($!enterpphoto.orgPath)" >\
                                <a class="remove" title="删除"></a>';
                $("#businessimg").append(_html);
            </script>
        #elseif($enterpphoto.orgPath!=''&& $enterpphoto.dictCode=='200002')
            <script type="text/javascript" language="JavaScript">
                if($enterpphoto.id<0){
                    $("#organizationid").attr("value","0");
                }else{
                    $("#organizationid").attr("value","$!enterpphoto.id");
                }
                $("#organizationpath").attr("value","$wmStringUtils.getUrlFullDefault($!enterpphoto.orgPath)");
                $("#organizationcode").attr("value","$!enterpphoto.description");
                var _html ='<img src="$wmStringUtils.getUrlFullDefault($!enterpphoto.orgPath)" >\
                                <a class="remove" title="删除"></a>';
                $("#organizationimg").append(_html);
            </script>
        #elseif($enterpphoto.orgPath!=''&& $enterpphoto.dictCode=='200003')
            <script type="text/javascript" language="JavaScript">
                if($enterpphoto.id<0){
                    $("#taxid").attr("value","0");
                }else{
                    $("#taxid").attr("value","$!enterpphoto.id");
                }
                $("#taxpath").attr("value","$wmStringUtils.getUrlFullDefault($!enterpphoto.orgPath)");
                $("#taxcode").attr("value","$!enterpphoto.description");
                var _html ='<img src="$wmStringUtils.getUrlFullDefault($!enterpphoto.orgPath)" >\
                                <a class="remove" title="删除"></a>';
                $("#taximg").append(_html);
            </script>
        #elseif($enterpphoto.orgPath!=''&& $enterpphoto.dictCode=='200004')
            <script type="text/javascript" language="JavaScript">
                if($enterpphoto.id<0){
                    $("#creditid").attr("value","0");
                }else{
                    $("#creditid").attr("value","$!enterpphoto.id");
                }
                $("#creditpath").attr("value","$wmStringUtils.getUrlFullDefault($!enterpphoto.orgPath)");
                $("#creditcode").attr("value","$!enterpphoto.description");
                var _html ='<img src="$wmStringUtils.getUrlFullDefault($!enterpphoto.orgPath)" >\
                                <a class="remove" title="删除"></a>';
                $("#creditimg").append(_html);
            </script>
        #elseif($enterpphoto.orgPath!=''&& $enterpphoto.dictCode=='200008')
            <script type="text/javascript" language="JavaScript">
                if($enterpphoto.id<0){
                    $("#brandid").attr("value","0");
                }else{
                    $("#brandid").attr("value","$!enterpphoto.id");
                }
                $("#brandpath").attr("value","$wmStringUtils.getUrlFullDefault($!enterpphoto.orgPath)");
                $("#brandcode").attr("value","$!enterpphoto.description");
                var _html ='<img src="$wmStringUtils.getUrlFullDefault($!enterpphoto.orgPath)" >\
                                <a class="remove" title="删除"></a>';
                $("#brandimg").append(_html);
            </script>
        #elseif($enterpphoto.orgPath!=''&& $enterpphoto.dictCode=='200005')
            <script type="text/javascript" language="JavaScript">
                if($enterpphoto.id<0){
                    $("#identityfrontid").attr("value","0");
                }else{
                    $("#identityfrontid").attr("value","$!enterpphoto.id");
                }
                $("#identityfrontpath").attr("value","$wmStringUtils.getUrlFullDefault($!enterpphoto.orgPath)");
                var _html ='<img src="$wmStringUtils.getUrlFullDefault($!enterpphoto.orgPath)" >\
                                <a class="remove" title="删除"></a>';
                $("#identityfrontimg").append(_html);
            </script>
        #elseif($enterpphoto.orgPath!=''&& $enterpphoto.dictCode=='200006')
            <script type="text/javascript" language="JavaScript">
                if($enterpphoto.id<0){
                    $("#identitybackid").attr("value","0");
                }else{
                    $("#identitybackid").attr("value","$!enterpphoto.id");
                }
                $("#identitybackpath").attr("value","$wmStringUtils.getUrlFullDefault($!enterpphoto.orgPath)");
                var _html ='<img src="$wmStringUtils.getUrlFullDefault($!enterpphoto.orgPath)" >\
                                <a class="remove" title="删除"></a>';
                $("#identitybackimg").append(_html);
            </script>
        #elseif($enterpphoto.orgPath!=''&& $enterpphoto.dictCode=='200007')
            <script type="text/javascript" language="JavaScript">
                if($enterpphoto.id<0){
                    $("#attorneyid").attr("value","0");
                }else{
                    $("#attorneyid").attr("value","$!enterpphoto.id");
                }
                $("#attorneypath").attr("value","$wmStringUtils.getUrlFullDefault($!enterpphoto.orgPath)");
                var _html ='<img src="$wmStringUtils.getUrlFullDefault($!enterpphoto.orgPath)" >\
                                <a class="remove" title="删除"></a>';
                $("#attorneyimg").append(_html);
            </script>
        #end
    #end
</div>
</body>
<div style="display:none">
    <div id="check_unpass_content">
        <div class="entry">
            <label for="" class="field_label">
                填写原因：
            </label>
            <textarea id="cont"></textarea>
        </div>
    </div>
</div>
</html>