<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>企业管理</title>
    <link href="$!{request.getContextPath()}/assets/css/dpl-min.css" rel="stylesheet" type="text/css" />
    <link href="$!{request.getContextPath()}/assets/css/bui-min.css" rel="stylesheet" type="text/css" />
    <link href="$!{request.getContextPath()}/assets/css/main-min.css" rel="stylesheet" type="text/css" />
    <link href="$!{request.getContextPath()}/assets/css/admin-prise-style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="$request.getContextPath()/assets/js/LAB.min.js"></script>
    <script type="text/javascript" src="$request.getContextPath()/assets/js/jquery-1.8.1.min.js"></script>
    <script type="text/javascript" src="$request.getContextPath()/assets/js/bui-min.js"></script>
    <script src="http://g.alicdn.com/bui/seajs/2.3.0/sea.js"></script>
    <script src="http://g.alicdn.com/bui/bui/1.1.21/config.js"></script>
</head>
<body>
    #parse("include/page_normal_detect.vm")
<div class="demo-content">
    <div class="doc-content">
        <ul class="nav-tabs">
            <li  #if($!enterpriseInfoVo.user.userType == 1) class="active" #end ><a href="$request.getContextPath()/enterprise/queryByPagination.do?user.userType=1">采购商</a></li>
            <li  #if($!enterpriseInfoVo.user.userType == 2) class="active" #end ><a href="$request.getContextPath()/enterprise/queryByPagination.do?user.userType=2">供应商</a></li>
            <li  #if($!enterpriseInfoVo.user.userType == 3) class="active" #end ><a href="$request.getContextPath()/enterprise/queryByPagination4Third.do">配套服务商</a></li>
        </ul>
        <div class="row">
            <div class="span24 doc-content" style="width:90%">
                <input type="text" id="path" value="$request.getContextPath()" style="display: none;">
				<input type="hidden" name="nullFlag" id="nullFlag" value="$!nullFlag"/>

                <form method="GET" action="$request.getContextPath()/enterprise/queryByPagination.do?user.userType=$!enterpriseInfoVo.user.userType" class="form-horizontal well" name="pageForm" id="pageForm">

                    <input type="hidden" name="user.userType" id="user.userType" value="$!{enterpriseInfoVo.user.userType}"/>
                    <input type="hidden" name="pageSize" id="pageSize" value="$!page.pageSize"/>
                    <input type="hidden" name="currentPage" id="currentPage" value="$!page.currentPage"/>
                    <div class="row">
                        <div class="control-group span8">
                            <label class="control-label">客户：</label>
                            <div class="controls">
                                <input type="text" name="companyName" value="$!enterpriseInfoVo.companyName" class="control-text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="control-group span24">
                            <label class="control-label">企业类型：</label>
                            <div class="controls">
                                <select name="categery">
                                    <option name="" value="-1" #if($!enterpriseInfoVo.categery==-1) selected="selected" #end >请选择</option>
                                    <option name="" value="0" #if($!enterpriseInfoVo.categery==0) selected="selected" #end >个人</option>
                                    <option name="" value="1" #if($!enterpriseInfoVo.categery==1) selected="selected" #end >企业</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="control-group span24">
                            <label class="control-label">状态：</label>
                            <div class="controls">
                                <select name="status">
                                    <option name="" value="0" #if($!enterpriseInfoVo.status==0) selected="selected" #end >请选择</option>
                                    <option name="" value="1" #if($!enterpriseInfoVo.status==1) selected="selected" #end>审核中</option>
                                    <option name="" value="2" #if($!enterpriseInfoVo.status==2) selected="selected" #end>已审核</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="control-group span10">
                            <label class="control-label">提交日期：</label>
                            <div class="controls bui-form-group" data-rules="{dateRange : true}">
                                <input name="beginTime" value="$!enterpriseInfoVo.beginTime" data-tip="{text : '起始日期'}" data-rules="{required:true}" data-messages="{required:'起始日期不能为空'}" class="input-small calendar" type="text"><label>&nbsp;-&nbsp;</label>
                                <input name="endTime" value="$!enterpriseInfoVo.endTime" data-rules="{required:true}" data-messages="{required:'截止日期不能为空'}" class="input-small calendar" type="text">
                            </div>
                        </div>
                        <div class="form-actions span5">
                            <button id="btnSearch" type="submit" class="button button-primary">搜索</button>
                        </div>
                    </div>
                </form>

                <div style="display: inline-block;padding-bottom: 15px;">

                    #auth($request.getSession().getAttribute("session.user").getId(),"采购商管理.常用联系人")
                        <div id="linkman" class="ml-15 fl-left button-gray">企业常用联系人</div>
                    #end

                    #auth($request.getSession().getAttribute("session.user").getId(),"采购商管理.开户行信息")
                        <div id="openbank" class="ml-25 fl-left button-gray">开户行信息</div>
                    #end
                </div>
                <div id="linkSize" class="digSize" style="display: none;">
                    <div class="xSize">
                        <span class="fl-left fs-md" style="position: relative">添加企业常用联系人</span>
                        <span class="fl-right fs-md fw-ber" id="closebtn1" style="position: relative">X</span>
                    </div>
                    <div id="linkS" style="margin: 38px auto;padding: 0 25px;"></div>
                    <div class="tl-center" style="margin:0 auto;display:block;">
                        <span class="submit-btn" id="contactsbtn">提交</span>
                    </div>
                </div>
                <div id="openSize" class="digSize" style="display: none;">
                    <div class="xSize">
                        <span class="fl-left fs-md" style="position: relative">开户行信息</span>
                        <span class="fl-right fs-md fw-ber" id="closebtn2" style="position: relative">X</span>
                    </div>
                    <div class="fw-ber fs-sm ml-43">对公账号信息：</div>
                    <div class="tl-center" style="margin: 24px auto;">
                        <div id="openS"></div>
                        <span class="ft-red mt-10">请输入完整的信息，已使我们能及时为你提供更好的服务！</span>
                    </div>
                    <div class="tl-center" style="margin:0 auto;display:block;">
                        <span class="cancel-btn" id="cancelbtn">取消</span>
                        <span class="submit-btn" id="bankbtn" style="margin-left: 10px;">提交</span>
                    </div>
                </div>


                <table cellspacing="0" class="table table-bordered">
                    <thead>
                    <tr>
                        <th width="15">选择</th>
                        <th>企业名称</th>
                        <th>用户名</th>
                        <th>手机号码</th>
                        <th>提交日期</th>
                        <th>审核日期</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                        #foreach($enterpriseQueryResult in $result.obj.data)
                        <tr>
                            <input type="hidden" id="contactsName-$enterpriseQueryResult.id" value="$!enterpriseQueryResult.contactsName"/>
                            <input type="hidden" id="contactsEmail-$enterpriseQueryResult.id" value="$!enterpriseQueryResult.contactsEmail"/>
                            <input type="hidden" id="contactsPhone-$enterpriseQueryResult.id" value="$!enterpriseQueryResult.contactsPhone"/>
                            <input type="hidden" id="contactsTelPhone-$enterpriseQueryResult.id" value="$!enterpriseQueryResult.contactsTelPhone"/>
                            <input type="hidden" id="contactsFix-$enterpriseQueryResult.id" value="$!enterpriseQueryResult.contactsFix"/>

                            <input type="hidden" id="userId-$enterpriseQueryResult.id" value="$!enterpriseQueryResult.userId"/>
                            <input type="hidden" id="accountId-$enterpriseQueryResult.id" value="$!enterpriseQueryResult.bankaccountinfo.id"/>
                            <input type="hidden" id="accountName-$enterpriseQueryResult.id" value="$!enterpriseQueryResult.bankaccountinfo.accountName"/>
                            <input type="hidden" id="depositBank-$enterpriseQueryResult.id" value="$!enterpriseQueryResult.bankaccountinfo.depositBank"/>
                            <input type="hidden" id="bankBranch-$enterpriseQueryResult.id" value="$!enterpriseQueryResult.bankaccountinfo.bankBranch"/>
                            <input type="hidden" id="bankAccount-$enterpriseQueryResult.id" value="$!enterpriseQueryResult.bankaccountinfo.bankAccount"/>

                            <td><input type="checkbox" name="oneCheck" class="uuid" value="$enterpriseQueryResult.id"></td>
                            <td>$!enterpriseQueryResult.companyName</td>
                            <td>$!enterpriseQueryResult.user.userName</td>
                            <td>$!enterpriseQueryResult.user.cellPhone</td>
                            <td>$dateUtil.formatDate($!enterpriseQueryResult.commitDate,"yyyy-MM-dd")</td>
                            <td>$dateUtil.formatDate($!enterpriseQueryResult.auditDate,"yyyy-MM-dd")</td>

                            <td>
                                #if($!enterpriseQueryResult.status == 1)
                                    审核中
                                #elseif($!enterpriseQueryResult.status == 2)
                                    已审核
                                #end
                            </td>

                            <td nowrap>
                                #auth($request.getSession().getAttribute("session.user").getId(),"采购商管理.审核")
                                    #if($!enterpriseQueryResult.status == 1)
                                        <a class="button button-primary" href="#" title="审核" onClick="javascript:auditing_enterprise('$enterpriseQueryResult.id');" tab="$enterpriseQueryResult.id">审核</a>
                                    #end
                                #end
                                #auth($request.getSession().getAttribute("session.user").getId(),"采购商管理.查看")
                                    #if($!enterpriseQueryResult.status == 2)
                                        <a class="button button-primary" href="#" title="查看" onClick="javascript:view_enterprise('$enterpriseQueryResult.id');" tab="$enterpriseQueryResult.id">查看</a>
                                    #end
                                #end
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                #if($!enterpriseQueryResult.user.userType==2)
                                    #auth($request.getSession().getAttribute("session.user").getId(),"供应商管理.经营类目")
                                        <a class="button button-primary" href="#" title="经营类目" onClick="javascript:enterp_category('$enterpriseQueryResult.id');" tab="$enterpriseQueryResult.id">经营类目</a>
                                    #end
                                #end
                            </td>
                        </tr>
                        #end
                    </tbody>
                </table>
                #parse("include/page_normal.vm")
            </div>
        </div>
    </div>
    <div id="maskLayer" style="display: none;"></div>
</div>
<script type="text/javascript" language="JavaScript">
        $LAB
    .script("$!{request.getContextPath()}/assets/js/jquery-1.8.1.min.js").wait()
            .script("$!{request.getContextPath()}/assets/js/bui-min.js")
            .script("$!{request.getContextPath()}/assets/js/config-min.js")
            .wait(function(){

            });

    BUI.use('bui/calendar',function(Calendar){
        var datepicker = new Calendar.DatePicker({
            trigger:'.calendar',
            autoRender : true
        });
    });

</script>
<script type="text/javascript" language="JavaScript">
    var pathContacts = $("#path").val()+"/enterprise/updateContacts.do",
            pathBank = $("#path").val()+"/enterprise/updateBank.do";
    var aArr = new Array();
    var uid = "";

    function act(data){
        $("#status").val(data);
        $("#pageForm").submit();
    }
    //审核企业
    function auditing_enterprise(data){
        location.href="$request.getContextPath()/enterprise/showDetail.do?id="+data+"&viewType=1";
    }
    //查看企业
    function view_enterprise(data){
        location.href="$request.getContextPath()/enterprise/showDetail.do?id="+data+"&viewType=2";
    }
    //经营类目
    function enterp_category(data){
        location.href = "$request.getContextPath()/enterprise/category.do?id="+data;
    }

    //更新企业联系人
    function updateContacts(){
        var contactsName = $("#contactsName").val(),
                contactsEmail = $("#contactsEmail").val(),
                contactsPhone = $("#contactsPhone").val(),
                contactsTelPhone = $("#contactsTelPhone").val(),
                contactsFix = $("#contactsFix").val();
        $.ajax({
            url:pathContacts,
            type:"get",
            dataType:"json",
            data:{
                "id":uid,
                "contactsName":contactsName,
                "contactsEmail":contactsEmail,
                "contactsPhone":contactsPhone,
                "contactsTelPhone":contactsTelPhone,
                "contactsFix":contactsFix
            },
            success:function(data){
//                var data = JSON.parse(data);
                if(data.code=="000000"){
                    BUI.Message.Alert('提交成功！','success');
                    $("#linkS").empty();
                    $("#linkSize").hide();
                    setTimeout(function(){
                        location.reload();
                    },1000);
                }
            },
            error:function(){
                BUI.Message.Alert('提交失败！','error');
            }
        });
    }

    //更新企业开户行信息
    function updateBank(){
        var accountName = $("#accountName").val(),
                depositBank = $("#depositBank").val(),
                bankBranch = $("#bankBranch").val(),
                bankAccount = $("#bankAccount").val();
        var baid = "accountId-" + uid,
                usid = "userId-" + uid;
        var ba = $("#"+baid).val(),
                ud = $("#"+usid).val();
        if(ba==null||ba==""||ba==undefined){//新增开户行信息
            $.ajax({
                url:pathBank,
                type:"get",
                dataType:"json",
                data:{
                    "id":"0",
                    "userId":ud,
                    "accountName":accountName,
                    "depositBank":depositBank,
                    "bankBranch":bankBranch,
                    "bankAccount":bankAccount,
                    "enterpriseId":uid
                },
                success:function(data){
                    if(data.code=="000000"){
                        BUI.Message.Alert('提交成功！','success');
                        $("#openS").empty();
                        $("#openSize").hide();
                        setTimeout(function(){
                            location.reload();
                        },1000);
                    }
                },
                error:function(){
                    BUI.Message.Alert('提交失败！','error');
                }
            });
        }else{//修改信息
            $.ajax({
                url:pathBank,
                type:"get",
                dataType:"json",
                data:{
                    "id":ba,
                    "userId":ud,
                    "accountName":accountName,
                    "depositBank":depositBank,
                    "bankBranch":bankBranch,
                    "bankAccount":bankAccount,
                    "enterpriseId":uid
                },
                success:function(data){
                    if(data.code=="000000"){
                        BUI.Message.Alert('提交成功！','success');
                        $("#openS").empty();
                        $("#openSize").hide();
                        setTimeout(function(){
                            location.reload();
                        },1000);
                    }
                },
                error:function(){
                    BUI.Message.Alert('提交失败！','error');
                }
            });
        }
    }

    $("#linkman").click(function(){
        $(".uuid:checked").each(function(){
            aArr.push($(this).val());
        });
        if(aArr.length==1){
            uid = aArr.pop();
            var cnid = "contactsName-" + uid,
                    ceid = "contactsEmail-" + uid,
                    cpid = "contactsPhone-" + uid,
                    ctid = "contactsTelPhone-" + uid,
                    cfid = "contactsFix-" + uid;
            var cn = $("#"+cnid).val(),
                 ce = $("#"+ceid).val(),
                 cp = $("#"+cpid).val(),
                 ct = $("#"+ctid).val(),
                 cf = $("#"+cfid).val();
            $("#linkS").append(
            '<div class="fs-sm">'+
            '<span class="fls-2">联系人姓名：</span>'+
            '<input type="text" class="inptxt" id="contactsName" value='+cn+'>'+
            '</div>'+
            '<div class="fs-sm mt-10">'+
            '<span class="fls-2">联系人邮箱：</span>'+
            '<input type="text" class="inptxt" id="contactsEmail" value='+ce+'>'+
            '</div>'+
            '<div class="fs-sm mt-10">'+
            '<span class="fls-6">联系电话：</span>'+
            '<input type="text" class="inptxt" id="contactsPhone" value='+cp+'>'+
            '</div>'+
            '<div class="fs-sm mt-10">'+
            '<span class="fls-6">固定电话：</span>'+
            '<input type="text" class="inptxt" id="contactsTelPhone" value='+ct+'>'+
            '</div>'+
            '<div class="fs-sm mt-10">'+
            '<span class="fls-12">传真：</span>'+
            '<input type="text" class="inptxt" id="contactsFix" value='+cf+'>'+
            '</div>');
            $("#linkSize,#maskLayer").show();
        }else{
            BUI.Message.Alert('只可选择一条信息更改','warning');
            aArr.length = 0;
        }
    });
    $("#closebtn1").click(function(){
        $("#linkS").empty();
       $("#linkSize,#maskLayer").hide();
        aArr.length = 0;
    });
    $("#contactsbtn").click(function(){
        updateContacts();
    });
    $("#openbank").click(function(){
        $(".uuid:checked").each(function(){
            aArr.push($(this).val());
        });
        if(aArr.length==1){
            uid = aArr.pop();
            var anid = "accountName-" + uid,
                    dbid = "depositBank-" + uid,
                    bbid = "bankBranch-" + uid,
                    baid = "bankAccount-" + uid;
            var an = $("#"+anid).val(),
                    db = $("#"+dbid).val(),
                    bb = $("#"+bbid).val(),
                    ba = $("#"+baid).val();
            $("#openS").append(
            '<div class="fs-sm">'+
            '<span class="">账号名：</span>'+
            '<input type="text" class="inptxt" id="accountName" value='+an+'>'+
            '</div>'+
            '<div class="fs-sm mt-10">'+
            '<span>开户银行：</span>'+
            '<input type="text" class="inptxt" id="depositBank" value='+db+'>'+
            '</div>'+
            '<div class="fs-sm mt-10">'+
            '<span>支行名称：</span>'+
            '<input type="text" class="inptxt" id="bankBranch" value='+bb+'>'+
            '</div>'+
            '<div class="fs-sm mt-10">'+
            '<span>开户行账号：</span>'+
            '<input type="text" class="inptxt" id="bankAccount" value='+ba+'>'+
            '</div>')
            $("#openSize,#maskLayer").show();
        }else{
            BUI.Message.Alert('只可选择一条信息更改','warning');
            aArr.length = 0;
        }
    });
    $("#closebtn2,#cancelbtn").click(function(){
        $("#openS").empty();
        $("#openSize,#maskLayer").hide();
        aArr.length = 0;
    });
    $("#bankbtn").click(function(){
       updateBank();
    });
</script>
<script type="text/javascript" language="JavaScript">
	$(function(){
		var nullFlag = $('#nullFlag').val();
		if(nullFlag==1){
			$('#pageSize').removeAttr('value');
			$('#currentPage').removeAttr('value');
			$('#pageSize').val("10");
			$('#currentPage').val("1");
		}
	})
</script>
</body>
</html>