       <!DOCTYPE html>
    <html>
    <head>
    <meta charset="utf-8">
    <title>协议管理</title>
      <link href="$request.getContextPath()/assets/css/demo.css" rel="stylesheet">
      <link href="$request.getContextPath()/assets/css/bs3/dpl.css" rel="stylesheet">
      <link href="$request.getContextPath()/assets/css/bs3/bui.css" rel="stylesheet">
	  <script type="text/javascript" src="$request.getContextPath()/assets/js/jquery-1.8.1.min.js"></script>
      <script type="text/javascript" src="$request.getContextPath()/assets/js/bui-min.js"></script>
      <script type="text/javascript" src="$request.getContextPath()/assets/js/config-min.js"></script>
        <!-- 配置文件 -->
    <script type="text/javascript" src="$request.getContextPath()/assets/utf8-jsp/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="$request.getContextPath()/assets/utf8-jsp/ueditor.all.min.js"></script>
	 </head>
     <div id="user_edit_content">
      <form id="U_Edit_Form" method="post" class="form-horizontal" action="$request.getContextPath()/agreement/edit.do">
      <input type="hidden" name="id" value="$!entity.id">
        <div class="row">
          <div class="control-group span8">
            <label class="control-label">协议名称</label>
            <div class="controls">
              <input name="title" value="$!entity.title"  type="text" data-rules="{required:true}" class="input-normal control-text">
            </div>
            <label class="control-label">协议类型</label>
            <div class="controls">
            <input type="hidden" id="selVal" value="$!entity.atype">
                <select name="atype" id="protolsel">
	                <option name="" value="" >请选择</option>
	                <option name="" value="0" >会员注册协议</option>
	                <option name="" value="1">卖家入驻协议</option>
	                <option name="" value="2">附件保密协议</option>
	                <option name="" value="4">方配套协议</option>
	            </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="control-group span8">
            <label class="control-label">协议内容</label>
            <div class="controls  control-row2">
	        <textarea id="ueditor_container_edit" rows="8" cols="40" name="content" style="width:700px;height:600px;">$!entity.content</textarea>
            </div>
          </div>
          <div>
          	<button type="submit" class="button button-primary">保存修改</button>
          </div>
        </div>
		  <input type="hidden" id="contentV">
      </form>
    </div> 
<script>


$(document).ready(function(){
var selVal = $("#selVal").val();
$("#protolsel option[value= "+selVal+"]").attr('selected','selected');
})

UE.delEditor("ueditor_container_add");
UE.delEditor("ueditor_container_edit");
ue_edit = UE.getEditor('ueditor_container_edit', {
		initialFrameHeight:260,initialFrameWidth:550
});
</script>