    <!DOCTYPE html>
    <html>
    <head>
    <meta charset="utf-8">
    <title>品牌管理</title>
    
    
    <link href="$!{request.getContextPath()}/assets/css/admin/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="$!{request.getContextPath()}/assets/css/admin/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css">
    <link href="$!{request.getContextPath()}/assets/css/admin/artdilog.css" rel="stylesheet" type="text/css">
    <link href="$!{request.getContextPath()}/assets/css/admin/inner-custom.css" rel="stylesheet" type="text/css">
    <link href="$!{request.getContextPath()}/assets/css/admin/admin-brand-check.css" rel="stylesheet">
    
    <script src="$!{request.getContextPath()}/assets/js/jquery-1.12.0.min.js"></script>
    <script src="$!{request.getContextPath()}/assets/js/jquery.cookie.js"></script>
    <script src="$!{request.getContextPath()}/assets/js/admin/jquery.artDialog.js"></script>
    <script src="$!{request.getContextPath()}/assets/js/admin/artDialog.iframeTools.js"></script>
    <script src="$!{request.getContextPath()}/assets/js/admin/bootstrap-datetimepicker.js"></script>
    <script src="$!{request.getContextPath()}/assets/js/admin/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="$!{request.getContextPath()}/assets/js/admin/CommonJS.js"></script>
    <script src="$!{request.getContextPath()}/assets/js/admin/admin-brand-check.js"></script>
    <script type="text/javascript" language="JavaScript">
     function auditPass(){
	 		var brandName = $("#brandName").val();
			 $.ajax({
			 type:"POST",
				url:'$request.getContextPath()/Brands/api/queryBrandsapplyExist.do',
				data:"brandsName=" + brandName,
				success:function(data){
					if( typeof data.id != "undefined"){
						$("#brandName_span").text("品牌已经存在!!已经存在的品牌id为："+data.id);
					}else{
						Brandsapply_Audit_Form.submit();
					}
			    }
		     });
    	}
		$(function() {
		   var u = document.referrer;
		   $("#goback").attr("href",u);
    	});
    </script>
    </head>
    <body>
    
        <div class="container">
        <div class="nav_title">
            品牌审核
             &nbsp;&nbsp;<a id="goback">返回</a>
        </div>
        <div style="padding:0 20px;background-color:#fff">
            <div style="border-top:1px solid #ddd;"></div>
        </div>
        <form id="Brandsapply_Audit_Form" class="form-horizontal" action="$request.getContextPath()/Brands/auditPass.do">
        <input  name="id" type="hidden" value="$!brandsApplay.id">
        <input  name="brandId" type="hidden" value="$!brandsApplay.brandId">
        <input id="brandName" name="brandName" type="hidden" value="$!brandsApplay.brandName">
        <div class="module-box">
            <div class="entry row">
                <label for="" class="field_label">

                    品牌名称：
                </label>
                <div class="field_value">
                    $!brandsApplay.brandName
					<span id="brandName_span" style="color:red"></span>
                </div>
            </div>
            <div class="entry row">
                <label for="" class="field_label">
                    是否平台现有品牌：
                </label>
                <div class="field_value">
                
	             #if($!isExistingFlag==1)
					是
				 #else
					   否
				 #end
                  
                </div>
            </div>
            <div class="entry row">
                <label for="" class="field_label">
                    品牌LOGO：
                </label>
                <div class="field_value field_image">
                   <img src="$!serverPath$!brandsApplay.logo" style="height:40px;" />
                </div>
            </div>

            <div class="entry row">
                <label for="" class="field_label">
                    品牌说明/授权资料：
                </label>
                #foreach($authCertificate in $brandsApplay.authCertificateList)
                <div class="field_value field_image">
                   <img src="$!serverPath$!authCertificate" style="height:80px;" />
                </div>
                #end
            </div>
            <div class="entry row">
                <label for="" class="field_label">
                绑定类型：
                </label>
                <div class="field_value">
                   $!brandsApplay.categoryNames
                </div>
            </div>
            <div class="entry row">
                <label for="" class="field_label">
                简介：
                </label>
                <div class="field_value">
                       $!brandsApplay.remark
                </div>
            </div>
            <div class="entry row">
                <label for="" class="field_label">
                </label>
                <div class="field_value action">
              		<a href="javascript:;" onclick="auditPass()">提交</a>
              		<a id="refuse" href="javascript:;" tab="$!brandsApplay.id">拒绝</a>
                </div>
            </div>
        </div>
	 </form> 
    </div>
     <div style="display:none">
	    <div id="refuse_content">
	        <div class="entry">
	            <label for="" class="field_label">
	                拒绝原因：
	            </label>
	            <textarea id="refuseReason" name="refuseReason" placeholder="拒绝请填写拒绝原因"></textarea>
	        </div>
	    </div>
    </div>
    </body>
    </html>       