    <!DOCTYPE html>
    <html>
    <head>
    <meta charset="utf-8">
    <title>品牌管理</title>
    
    <link href="$!{request.getContextPath()}/assets/css/admin/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="$!{request.getContextPath()}/assets/css/admin/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css">
        <link href="$!{request.getContextPath()}/assets/css/admin/bootstrap-select.min.css" rel="stylesheet" type="text/css">
    <link href="$!{request.getContextPath()}/assets/css/admin/artdilog.css" rel="stylesheet" type="text/css">
    <link href="$!{request.getContextPath()}/assets/css/admin/inner-custom.css" rel="stylesheet" type="text/css">
    <link href="$!{request.getContextPath()}/assets/css/admin/admin-brand-add.css" rel="stylesheet" type="text/css">
    <link href="$!{request.getContextPath()}/assets/css/admin-purchase-check.css" rel="stylesheet">
    
    <script src="$!{request.getContextPath()}/assets/js/jquery-1.12.0.min.js"></script>
    <script src="$!{request.getContextPath()}/assets/js/admin/bootstrap.min.js"></script>
    <script src="$!{request.getContextPath()}/assets/js/jquery.cookie.js"></script>
    <script src="$!{request.getContextPath()}/assets/js/admin/jquery.artDialog.js"></script>
    <script src="$!{request.getContextPath()}/assets/js/admin/jquery.datagrid.js"></script>
    <script src="$!{request.getContextPath()}/assets/js/admin/artDialog.iframeTools.js"></script>
    <script src="$!{request.getContextPath()}/assets/js/admin/bootstrap-datetimepicker.js"></script>
    <script src="$!{request.getContextPath()}/assets/js/admin/bootstrap-datetimepicker.zh-CN.js"></script>
        <script src="$!{request.getContextPath()}/assets/js/admin/bootstrap-select.min.js"></script>
    <script src="$!{request.getContextPath()}/assets/js/admin/jquery.linkage.nocreate.js"></script>
    <script src="$!{request.getContextPath()}/assets/js/admin/CommonJS.js"></script>
    <script src="$!{request.getContextPath()}/assets/js/admin/inner-custom.js"></script>
    <script src="$!{request.getContextPath()}/assets/js/jquery.form.js"></script>
    <script src="$!{request.getContextPath()}/assets/js/admin/admin-brandsapply-add.js"></script>
    <script src="$!{request.getContextPath()}/assets/js/admin/admin-brandsapply-add1.js"></script>
    <script type="text/javascript" language="JavaScript">
     function saveBrandsapply(){
     		var _checked =  $('.brand-group .selected input[type=checkbox]:checked');
			var _checkedIds = [];
			_checked.each(function(){
				_checkedIds.push($(this).val());
			});
	    	$("#productCategoryIds").val(_checkedIds);
			//校验是否选择企业
			var enterPrInfoId = $("#enterPrInfoId").val();
			if(enterPrInfoId==""){
				$("#enterPrInfoId_span").text("请选择企业!");
				return;
			}else{
				$("#enterPrInfoId_span").text("");
			}
			//校验输入的品牌名是否重复
			var inputBrandsName = $("#brandName_span").text();
			if(inputBrandsName.indexOf("品牌名称已经存在!!") >= 0 ){
				return;
	        }
			//校验品牌名称
        	var brandName = $.trim($("#brandName").val());
        	if(brandName==""){
        		$("#brandName_span").text("品牌名称不能为空!");
        		return;
        	}else{
        		$("#brandName_span").text("");
        	}
	    	Brandsapply_Add_Form.submit();
    	}
		
		//校验品牌名
		function checkBrandsName(obj){
		     var brandsName = $(obj).val();
			 $.ajax({
			 type:"POST",
				url:'$request.getContextPath()/Brands/api/queryBrandsExist.do',
				data:"brandsName=" + brandsName,
				success:function(data){
					if( typeof data.id != "undefined"){
						$("#brandName_span").text("品牌名称已经存在!!已经存在的品牌id为："+data.id);
					}else{
						$("#brandName_span").text("");
					}
			    }
		     });
		}
		
		$(document).on('change', '#basic', function(){
			$("#enterPrInfoId").val($(this).val());
		});
		
		function goback(){
		   window.location.href=document.referrer; 
		}
    </script>
    </head>
    <body>
    
      <div class="container">
        <div class="account_mgr_nav">
            <a href="$request.getContextPath()/Brands/toBrandsapplyList.do">品牌管理</a>
        	<a href="$request.getContextPath()/Brands/toBrandsapplyAdd.do" class="active">新增品牌</a>
		</div>
		<form id="Brandsapply_Add_Form" name="Brandsapply_Add_Form" method="POST" class="form-horizontal" action="$request.getContextPath()/Brands/saveBrandsapply.do">
        <input id="productCategoryIds" name="productCategoryIds" type="hidden">
        <input id="enterPrInfoId" name="enterPrInfoId" type="hidden">
        <div class="module-box mt20">
##            <div class="entry row">
##                <label for="" class="field_label">
##                   <span class="highlight">*</span>
##                    供应商：
##                </label>
##                <div class="field_value">
##                    <select name="enterPrInfoId" class="text">
##                    #foreach( $enterpriseinfoSimple in $enterpriseinfoSimpleList )
##						<option value="$!enterpriseinfoSimple.id">$!enterpriseinfoSimple.companyName</option>
##					#end
##                    </select>
##                </div>
##            </div>
                <div class="form-group">
                    <label for="basic" class="col-lg-2 control-label" style="font-size:14px;text-align:right;width:120px;line-height:34px;padding:10px"><span class="highlight">*</span>供应商：</label>
                    <div class="col-lg-10">
                        <select id="basic" class="selectpicker show-tick form-control" data-live-search="true">
							<option value="">请选择</option>
                            #foreach( $enterpriseinfoSimple in $enterpriseinfoSimpleList )
                                <option value="$!enterpriseinfoSimple.id">$!enterpriseinfoSimple.companyName</option>
                            #end
                        </select>
						<span id="enterPrInfoId_span" style="color:red"></span>
                    </div>
                </div>
            <div class="entry row">
                <label for="" class="field_label"><span class="highlight">*</span>
                    品牌名称：
                </label>
                <div class="field_value">
                    <input type="text" id="brandName" name="brandName" class="text" onblur="checkBrandsName(this)">
					<span id="brandName_span" style="color:red"></span>
                </div>
            </div>
            <div class="entry row">
                <label for="" class="field_label"><span class="highlight">*</span>
                    LOGO：
                </label>
                <div class="cert_item">
                    <div class="uploadpic" id="businessimg">
                        <input class="id" type="hidden" name="enterprisephotoList[0].id" value="0" />
                        <input class="path" type="hidden" name="logo" value=""/>
                        <input class="code" type="hidden" name="enterprisephotoList[0].dictCode" value="200001" />
                        <input type='file' name="_file" class="uploadFilebtn">
                    </div>
                </div>
            </div>
            <div class="entry row">
                <label for="" class="field_label"><span class="highlight">*</span>
                    品牌授权证书：
                </label>
                <div class="field_value">
                    <div class="uploadpic">
                        <input class="id" type="hidden" name="enterprisephotoList[0].id" value="0" />
                        <input class="path" type="hidden" name="authCertificateList[0]" value=""/>
                        <input class="code" type="hidden" name="enterprisephotoList[0].dictCode" value="200001" />
                        <input type='file' name="_file" class="uploadFilebtn">
                    </div>
                    <div class="uploadpic">
                        <input class="id" type="hidden" name="enterprisephotoList[0].id" value="0" />
                        <input class="path" type="hidden" name="authCertificateList[1]" value=""/>
                        <input class="code" type="hidden" name="enterprisephotoList[0].dictCode" value="200001" />
                        <input type='file' name="_file" class="uploadFilebtn">
                    </div>
                    <div class="uploadpic">
                        <input class="id" type="hidden" name="enterprisephotoList[0].id" value="0" />
                        <input class="path" type="hidden" name="authCertificateList[2]" value=""/>
                        <input class="code" type="hidden" name="enterprisephotoList[0].dictCode" value="200001" />
                        <input type='file' name="_file" class="uploadFilebtn">
                    </div>
                </div>
            </div>
            
             <div class="entry row">
            	 <label for="" class="field_label">
                 </label>
             		最多上传三个附件
             </div>
            
           <div id="divNew" class="entry row">
             	<label for="" class="field_label">
                   <span class="highlight">*</span>
                   绑定类型：
                </label>
                <div class="form-group">
                    <div class="col-sm-10 brand-letter select-list">

                    </div>
                    <div class="col-sm-10 brand-group">
                        <div class="checkbox-group">
                        </div>
                        <div class="choose-category selected">
                            <span>已选择：</span>
                        </div>
                    </div>
                </div>
            </div>
         
         
            <div class="entry row">
                <label for="" class="field_label"><span class="highlight">*</span>
                    品牌简介：
                </label>
                <div class="field_value">
                    <textarea name="remark" id="" class="textarea" style="height:200px;" maxlength="1000" placeholder="最多输入1000个字"></textarea>
                </div>
            </div>
        </div>
      </form>

          #auth($request.getSession().getAttribute("session.user").getId(),"新增品牌.提交")
            <button onclick="saveBrandsapply()" style="margin-left:190px;background:white;color:#EE7700;height:34px;font-size:16px;width:100px">提交</button>
          #end

          #auth($request.getSession().getAttribute("session.user").getId(),"新增品牌.取消")
            <button onclick="goback()" style="margin-left:20px;background:white;color:#EE7700;height:34px;font-size:16px;width:100px">取消</button>
          #end
          <br/><br/><span style="margin-left:170px;color:#EE7700;height:34px;font-size:16px;width:100px">提示：提交完成后，状态为审核通过</span>
     </span>
    </div>
    </body>
    </html>       