  <div id="user_add_content">
      <form id="U_Add_Child_Form" class="form-horizontal" action="$request.getContextPath()/News/saveNewsCate.do">
        <div class="row">
          <div class="control-group span8">
            <label class="control-label">*名称</label>
            <div class="controls">
              <input name="name" type="text" data-rules="{required:true}" class="input-normal control-text">
            </div>
          </div>
        </div>
		<input type="hidden" name="id" value="$!id"> 
      </form>
    </div> 