  <div id="user_add_content">
      <form id="U_Edit_Form" class="form-horizontal" action="$request.getContextPath()/sys/power/edit.do">
        <input type="hidden" name="id" value="$!power.id">
		<input type="hidden" name="createTime" value="$!power.createTime">
        <div class="row">
          <div class="control-group span8">
            <label class="control-label"><s>*</s>名称</label>
            <div class="controls">
              <input name="powerName" value="$!power.powerName" type="text" data-rules="{required:true}" class="input-normal control-text">
            </div>
          </div>
          <div class="control-group span8">
            <label class="control-label"><s>*</s>链接</label>
            <div class="controls">
              <input name="redirectUrl" type="text" value="$!power.redirectUrl" data-rules="{required:true}" class="input-normal control-text">
            </div>
          </div>

            <div class="control-group span8">
                <label class="control-label"><s>*</s>资源类型</label>
                <div class="controls">
                    <select name="sourceType">
                        <option value="0" #if($!power.sourceType==0) selected="selected" #end>功能菜单</option>
                        <option value="1" #if($!power.sourceType==1) selected="selected" #end>页面按钮</option>
                        <option value="2" #if($!power.sourceType==2) selected="selected" #end>数据资源</option>
                    </select>
                </div>
            </div>

        </div>
        <div class="row">
          <div class="control-group span8">
            <label class="control-label"><s>*</s>父级资源</label>
            <div class="controls">
				<select name="superid">
					#if($!power.superid==$!{superidNotDefined})
					  <option value="$!{superidNotDefined}">请选择父级资源</option>
					  #foreach($pw in $listPower)
    					  <option value="$!pw.id">$!pw.powerName</option>
    				  #end
					#else
					  <option value="$!{superidNotDefined}">请选择父级资源</option>
					  #foreach($pw in $listPower)
						#if($!power.superid==$pw.id)
    				      <option value="$!pw.id" selected="true">$!pw.powerName</option>
    				    #else
    					  <option value="$!pw.id">$!pw.powerName</option>
    				    #end
    				  #end
					#end
                </select>
            </div>
          </div>
          <div class="control-group span8">
            <label class="control-label"><s>*</s>排序</label>
            <div class="controls">
              <input name="display" value="$!power.display" type="text" data-rules="{required:true}" class="input-normal control-text">
            </div>
          </div>
        </div>
		
		<div class="control-group">
            <label class="control-label"><s>*</s>状态</label>
            <div class="controls">
				#if($!power.sta=="1")
				  <label class="radio" for=""><input name="sta" type="radio" value="0">禁用</label>&nbsp;&nbsp;&nbsp;
                  <label class="radio" for=""><input name="sta" checked="checked"  type="radio" value="1">启用</label>
				#else
				  <label class="radio" for=""><input name="sta" checked="checked" type="radio" value="0">禁用</label>&nbsp;&nbsp;&nbsp;
                  <label class="radio" for=""><input name="sta" type="radio" value="1">启用</label>
				#end
            </div>
        </div>

          <div class="control-group span8">
              <label class="control-label"><s>*</s>所属系统</label>
              <div class="controls">
                  <input name="owner" type="text" value="$!power.owner" data-rules="{required:true}" class="input-normal control-text" />
              </div>
          </div>

        <div class="row">
          <div class="control-group span8">
            <label class="control-label"><s>*</s>描述</label>
            <div class="controls  control-row2"><textarea name="remark">$!power.powerName</textarea></div>
          </div>
        </div>
		  
      </form>
    </div> 
