<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>账户管理</title>
    <link href="$!{request.getContextPath()}/assets/css/main-min.css" rel="stylesheet" type="text/css" />
    <link href="$!{request.getContextPath()}/assets/css/admin-prise-style.css" rel="stylesheet" type="text/css" />
    <link href="$request.getContextPath()/assets/css/demo.css" rel="stylesheet">
    <link href="$request.getContextPath()/assets/css/bs3/dpl.css" rel="stylesheet">
    <link href="$request.getContextPath()/assets/css/bs3/bui.css" rel="stylesheet">
    <script type="text/javascript" src="$request.getContextPath()/assets/js/LAB.min.js"></script>
    <script type="text/javascript" src="$request.getContextPath()/assets/js/jquery-1.8.1.min.js"></script>
    <script type="text/javascript" src="$request.getContextPath()/assets/js/bui-min.js"></script>
    <script type="text/javascript" src="$request.getContextPath()/assets/js/config-min.js"></script>
</head>
<body>
    #parse("include/page_normal_detect.vm")
<div class="demo-content">
    <div class="doc-content">
        <ul class="nav-tabs">
            <li class="active"><a href="$request.getContextPath()/user/queryByPagination.do">账户管理</a></li>
        </ul>
        <div class="row">
            <div class="span24 doc-content" style="width:90%">
			<input type="hidden" name="restPwdInput" id="restPwdInput"/>
                <form method="post" action="$request.getContextPath()/user/queryByPagination.do" class="form-horizontal well" name="pageForm" id="pageForm">
                    <input type="hidden" name="pageSize" id="pageSize" value="$!page.pageSize"/>
                    <input type="hidden" name="currentPage" id="currentPage" value="$!page.currentPage"/>
					<input type="hidden" name="nullFlag" id="nullFlag" value="$!nullFlag"/>
                    <div class="row">
                        <div class="control-group span8">
                            <label class="control-label">客户：</label>
                            <div class="controls">
                                <input type="text" name="userName" value="$!userVo.userName" placeholder="用户名/手机号码/姓名" class="control-text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="control-group span24">
                            <label class="control-label">客户类型：</label>
                            <div class="controls">
                                <select name="userType">
                                    <option value="0" #if($!userVo.userType==0) selected="selected" #end >请选择</option>
                                    <option value="1" #if($!userVo.userType==1) selected="selected" #end >采购商</option>
                                    <option value="2" #if($!userVo.userType==2) selected="selected" #end >供应商</option>
                                    <option value="3" #if($!userVo.userType==3) selected="selected" #end >配套服务商</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="control-group span10">
                            <label class="control-label">注册日期：</label>
                            <div class="controls bui-form-group" data-rules="{dateRange : true}">
                                <input name="beginTime" value="$!userVo.beginTime" data-tip="{text : '起始日期'}" data-rules="{required:true}" data-messages="{required:'起始日期不能为空'}" class="input-small calendar" type="text"><label>&nbsp;-&nbsp;</label>
                                <input name="endTime" value="$!userVo.endTime" data-rules="{required:true}" data-messages="{required:'截止日期不能为空'}" class="input-small calendar" type="text">
                            </div>
                        </div>
                        <div class="form-actions span5 offset3">
                            <button id="btnSearch" type="submit" class="button button-primary">搜索</button>
                        </div>
                    </div>
                </form>

                <input type="text" id="path" value="$request.getContextPath()" style="display: none;">

                <div style="display: inline-block;padding-bottom: 15px;">

                    #auth($request.getSession().getAttribute("session.user").getId(),"账户管理.新建账户")
                        <div id="createAcco" class="ml-15 fl-left button-gray">新建账户</div>
                    #end

                    #auth($request.getSession().getAttribute("session.user").getId(),"账户管理.添加备注")
                        <div id="addRemark" class="ml-25 fl-left button-gray">添加备注</div>
                    #end

                    #auth($request.getSession().getAttribute("session.user").getId(),"账户管理.重置密码")
                        <div id="resetPwd" class="ml-25 fl-left button-gray">重置密码</div>
                    #end
                </div>

            ##              新建账户
                <div id="createSize" class="digSize2" style="display: none;">
                    <div class="xSize">
                        <span class="fl-left fs-md" style="position: relative">新建账户</span>
                        <span class="fl-right fs-md fw-ber" id="closebtn1" style="position: relative">X</span>
                    </div>
                    <div class="tl-center" style="margin: 38px auto;padding: 0 25px;">
                        <div class="fs-sm">
                            <span class="fls-6">用&nbsp;户&nbsp;名：</span>
                            <input type="text" class="inptxt" id="username" onblur="checkUserName(this)"/>
                        </div>
							<span id="username_span" style="color:red"></span>
                        <div class="fs-sm mt-10">
                            <span class="fls-6">姓&nbsp;&nbsp;&nbsp;&nbsp;名：</span>
                            <input type="text" class="inptxt" id="name"/>
                        </div>
                        <div class="fs-sm mt-10">
                            <span class="fls-6">手机号码：</span>
                            <input type="text" class="inptxt" id="phone" onblur="checkPhone(this)"/>
                        </div>
						    <span id="phone_span" style="color:red"></span>
##                        <div class="fs-sm mt-10">
##                              <span class="fls-6">企业名称：</span>
##                              <input type="text" class="inptxt" id="compname"/>
##                          </div>
                        <div class="fs-sm mt-10">
                            <span class="fls-6">客户类型：</span>
                            <select id="customtype">
                                <option value="0">请选择</option>
                                <option value="1">采购商</option>
                                <option value="2">供应商</option>
                                <option value="3">配套服务商</option>
                            </select>
                        </div>
                        <div class="ft-red mt-10">提示：新建成功后密码为初始密码：123456</div>
                    </div>
                    <div class="tl-center" style="margin:0 auto;display:block;">
                        <span class="submit-btn" id="submitbtn">提交</span>
                    </div>
                </div>
            ##                备注
                <div id="remarkSize" class="digSize3 pd-15" style="display: none;">
                    <div class="xSize">
                        <span class="fl-left fs-md" style="position: relative">备注</span>
                        <span class="fl-right fs-md fw-ber" id="closebtn2" style="position: relative">X</span>
                    </div>
                    <div class="mt-30">
                        <div class="ml-43 fl-left" style="display: inline;">内容：</div>
                        <div class="areatxt">
                            <textarea id="recontent" rows="5" style="width: inherit;height: inherit;"></textarea>
                        </div>
                    </div>

                    <div class="tl-center" style="margin:30px auto;display:block;">
                        <span class="submit-btn" id="recontbtn">提交</span>
                    </div>
                    <div style="margin-top:10px;border-top: 1px solid #eee;">
                        <div class="mt-10">历史记录：</div>
                        <div class="" id="recordSize">
                            <table class="table table-bordered">
                                <tr>
                                    <th>日期</th>
                                    <th>操作人</th>
                                    <th>备注内容</th>
                                </tr>
                                #foreach($visitor in $!result.obj.visitVoList)
                                    <tr>
                                        <td>$!visitor.createdTime</td>
                                        <td>$!visitor.content</td>
                                        <td>$!visitor.content</td>
                                    </tr>
                                #end
                            </table>
                        </div>
                    </div>
                </div>
            ##                重置密码
                <div id="resetSize" class="digSize" style="display: none;">
                    <div class="xSize">
                        <span class="fl-left fs-md" style="position: relative">重置密码</span>
                        <span class="fl-right fs-md fw-ber" id="closebtn3" style="position: relative">X</span>
                    </div>
                    <div class="tl-center" style="margin:120px auto;display:block;">
                        <span class="submit-btn" id="combtn">确认重置密码</span>
                        <span class="submit-btn ml-25" id="backbtn">返回</span>
						<br/><br/><br/>
						<span id="restPWD_span"></span>
                    </div>
                </div>

                <table cellspacing="0" class="table table-bordered">
                    <thead>
                    <tr>
                        <th width="15">选择</th>
                        <th>用户名</th>
                        <th>手机号码</th>
                        <th>姓名</th>
                        <th>注册日期</th>
                        <th>客户类型</th>
                        <th>客户积分</th>
                        <th>来源</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                        #foreach($userQueryResult in $result.obj.data)
                        <tr>
                            <input type="hidden" id="remark-$userQueryResult.id" value="$!userQueryResult.remark"/>
                            <td><input type="checkbox" name="oneCheck" class="uuid" value="$!userQueryResult.id"></td>
                            <td>$!userQueryResult.userName</td>
                            <td>$!userQueryResult.cellPhone</td>
                            <td>$!userQueryResult.realName</td>
                            <td>$dateUtil.formatDate($!userQueryResult.createDate,"yyyy-MM-dd")</td>

                            <td>
                                #if($!userQueryResult.userType == 1)
                                    采购商
                                #elseif($!userQueryResult.userType == 2)
                                    供应商
                                #elseif($!userQueryResult.userType == 3)
                                    配套服务商
                                #end
                            </td>


                            <td>$!userQueryResult.availableCredits</td>

                            <td>
                                #if($!userQueryResult.registerWay == 0)
                                    正常注册
                                #elseif($!userQueryResult.registerWay == 1)
                                    询价注册
                                #elseif($!userQueryResult.registerWay == 2)
                                    采购注册
                                #end
                            </td>

                            <td nowrap>
                                <a class="button button-primary" href="#" title="管理" onClick="javascript:view_user('$userQueryResult.id');" tab="$userQueryResult.id">管理</a>
                            </td>
                        </tr>
                        #end
                    </tbody>
                </table>
                #parse("include/page_normal.vm")
            </div>
        </div>
    </div>
</div>
<div id="maskLayer" style="display: none;"></div>
<script type="text/javascript" language="JavaScript">
        $LAB
    .script("$!{request.getContextPath()}/assets/js/jquery-1.8.1.min.js").wait()
            .script("$!{request.getContextPath()}/assets/js/bui-min.js")
            .script("$!{request.getContextPath()}/assets/js/config-min.js")
            .wait(function(){

            });

    BUI.use('bui/calendar',function(Calendar){
        var datepicker = new Calendar.DatePicker({
            trigger:'.calendar',
            autoRender : true
        });
    });

</script>
<script type="text/javascript" language="JavaScript">
    var pathCreate = $("#path").val()+"/user/add.do",
            pathRemark = $("#path").val()+"/user/remark.do";
    var aArr = new Array();
    var uid = "";

    //新建账户
    function createAcc(){
        var username = $.trim($("#username").val()),
                name = $.trim($("#name").val()),
                phone = $.trim($("#phone").val()),
                compname = $.trim($("#compname").val()),
                customtype = $("#customtype").val();

		//根据用户名校验用户名是否存在
		var username_span = $("#username_span").text();
		if(username==""){
			$("#username_span").text("用户名不能为空！");
			return;
		}else{
    		if(username_span.indexOf("用户名已经存在!!") >= 0 ){
    			return;
    	    }
		}
		//校验手机号码必须是数字
		var regNum = new RegExp("^[1-9][0-9]*$");
		if(!regNum.test(phone)){
			$("#phone_span").text("手机号码必须为正整数!");
			return;
		}
		//根据电话号码校验用户名是否存在
		var phone_span = $("#phone_span").text();
		if(phone==""){
			$("#phone_span").text("手机号码不能为空!");
			return;
		}else{
			if(phone_span.indexOf("用户名已经存在!!") >= 0 ){
    			return;
    	    }
		}

        $.ajax({
            url:pathCreate,
            type:'post',
            dataType:'json',
            data:{
                "userName":username,
                "realName":name,
                "cellPhone":phone,
                "companyName":compname,
                "userType":customtype
            },
            success:function(data){
                if(data ==true){
					  pageForm.submit();
         //           BUI.Message.Alert('提交成功！','success');
         //           $("#createSize").hide();
                }
            },
            error:function(){
				pageForm.submit();
         //       BUI.Message.Alert('提交失败！','error');
            }
        });
    }
    //添加备注
    function addRemark(){
        var remarkCont = $("#recontent").val();
        $.ajax({
            url:pathRemark,
            type:"get",
            dataType:"json",
            data:{
                "remark":remarkCont,
                "id":uid
            },
            success:function(data){
                if(data==true){
                    BUI.Message.Alert('提交成功！','success');
                    $("#remarkSize").hide();
                    setTimeout(function(){
                        location.reload();
                    },1000);

                }
            },
            error:function(){
                BUI.Message.Alert('提交失败！','error');
            }
        });
    }
    //重置密码
    function resetPwd(){
		var ids = $('input.uuid:checked'), idsArr = [];
		ids.each(function(){
			idsArr.push($(this).val());
		});
		$("#restPwdInput").val(idsArr);
		var rest_ids = $("#restPwdInput").val();
		 $.ajax({
            url:"$request.getContextPath()/user/api/restPWD.do",
            type:"post",
            dataType:"json",
            data:{
                "ids":rest_ids
            },
            success:function(data){
                if(data==true){
                   $("#restPWD_span").text("恭喜您,当前用户密码已重置成功!初始密码为：123456");
                }
            },
            error:function(){
                $("#restPWD_span").text("重置失败!");
            }
        });
    }

    $("#createAcco").click(function(){
        $("#createSize,#maskLayer").show();
    });
    $("#closebtn1").click(function(){
        $("#createSize,#maskLayer").hide();
    });
    $("#submitbtn").click(function(){
        createAcc();
    });

    $("#addRemark").click(function(){
        $(".uuid:checked").each(function(){
            aArr.push($(this).val());
        });
        if(aArr.length==1){
            uid = aArr.pop();
            var re ="remark-"+uid;
            var rema = $("#"+re).val();
            $("#recontent").val(rema);
            $("#remarkSize,#maskLayer").show();
        }else{
            BUI.Message.Alert('请选择一条信息添加备注！','warning');
            aArr.length = 0;
        }
    });
    $("#closebtn2").click(function(){
        $("#remarkSize,#maskLayer").hide();
        aArr.length = 0;
    });
    $("#recontbtn").click(function(){
        addRemark();
    });

    $("#resetPwd").click(function(){
        $(".uuid:checked").each(function(){
            aArr.push($(this).val());
        });
        if(aArr.length!=0){
            uid = aArr.pop();
            $("#resetSize,#maskLayer").show();
        }else{
            BUI.Message.Alert('请至少选择一条信息重置密码！','warning');
            aArr.length = 0;
        }
    });
    $("#closebtn3,#backbtn").click(function(){
        $("#resetSize,#maskLayer").hide();
    });
    $("#combtn").click(function(){
        resetPwd();
    });

    //管理
    function view_user(data){
        location.href="$request.getContextPath()/user/showDetail.do?id="+data+"";
    }
</script>
<script type="text/javascript" language="JavaScript">
	$(function(){
		var nullFlag = $('#nullFlag').val();
		if(nullFlag==1){
			$('#pageSize').removeAttr('value');
			$('#currentPage').removeAttr('value');
			$('#pageSize').val("10");
			$('#currentPage').val("1");
		}
	})

	//校验用户名
	function checkUserName(obj){
	     var userName = $(obj).val();
		 $.ajax({
		 type:"POST",
			url:'$request.getContextPath()/user/api/queryUserExistByUsername.do',
			data:"userName=" + userName,
			success:function(data){
				if( typeof data.id != "undefined"){
					$("#username_span").text("用户名已经存在!!已经存在的用户id为："+data.id);
				}else{
					$("#username_span").text("");
				}
		    }
	     });
	}
	//校验手机号
	function checkPhone(obj){
	     var cellPhone = $(obj).val();
		 $.ajax({
		 type:"POST",
			url:'$request.getContextPath()/user/api/queryUserExistByCellphone.do',
			data:"cellPhone=" + cellPhone,
			success:function(data){
				if( typeof data.id != "undefined"){
					$("#phone_span").text("用户名已经存在!!已经存在的用户id为："+data.id);
				}else{
					$("#phone_span").text("");
				}
		    }
	     });
	}
</script>
</body>
</html>