<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>详情页</title>
  <link href="http://g.alicdn.com/bui/bui/1.1.21/css/bs3/dpl.css" rel="stylesheet">
  <link href="http://g.alicdn.com/bui/bui/1.1.21/css/bs3/bui.css" rel="stylesheet">
    <link href="../assets/css/admin-prise-style.css" rel="stylesheet">
</head>
<body>
 <div class="demo-content">
<!-- 详情页 ================================================== -->
<div class="row">
    <div class="span24 doc-content" style="width:90%">
        <ul class="nav-tabs">
          <li class="active"><a href="$request.getContextPath()/enterprise/showCADetail.do?id=$!result.obj.id&viewType=1">CA详情</a></li>
        </ul>

        #if($!result.obj.categery=="1")
        <div class="mt-30 ml-60" style="display:inline-block;width: 80%;height:50px;line-height:50px;border-bottom: 2px solid #eee;">
            <span class="fl-left fs-xxxlg" style="display: block;">企业认证</span>
            <span class="fl-right fs-xxxlg fw-ber closehtml" style="display: block;" >X</span>
        </div>
        <div class="ml-60 pt-20" style="width: 80%;height:460px;border: 1px solid #000000;">
            <table class="catetable" style="width: 50%;">
                <thead>
                    <tr>
                        <th>认证类型</th>
                        <th class="ft-gray">企业</th>
                    </tr>
                </thead>
                <tbody class="tl-center">
                <tr>
                    <td>企业名称：</td>
                    <td class="ft-gray">$!result.obj.companyName</td>
                </tr>
                #if($!result.obj.enterpriseType=="1")
                    #foreach($enterpphoto in $result.obj.enterprisephotoList)
                    #if($enterpphoto.dictCode=='200001')
                    <tr>
                        <td>营业执照号码：</td>
                        <td class="ft-gray">$!enterpphoto.description</td>
                    </tr>
                    #end
                    #if($enterpphoto.dictCode=='200002')
                    <tr>
                        <td>组织机构代码证：</td>
                        <td class="ft-gray">$!enterpphoto.description</td>
                    </tr>
                    #end
                    #if($enterpphoto.dictCode=='200003')
                    <tr>
                        <td>税务登记证：</td>
                        <td class="ft-gray">$!enterpphoto.description</td>
                    </tr>
                    #end
                    #end
                #else
                    #foreach($enterpphoto in $result.obj.enterprisephotoList)
                    #if($enterpphoto.dictCode=='200004')
                    <tr>
                        <td>社会信用代码证号：</td>
                        <td class="ft-gray">$!enterpphoto.description</td>
                    </tr>
                    #end
                    #end
                #end
                <tr>
                    <td>地址：</td>
                    <td class="ft-gray">$!result.obj.region.provinceName $!result.obj.region.cityName $!result.obj.region.areaName $!result.obj.companyAddress</td>
                </tr>
                <tr>
                    <td>联系人姓名：</td>
                    <td class="ft-gray">$!result.obj.contactsName</td>
                </tr>
                <tr>
                    <td>手机号码：</td>
                    <td class="ft-gray">$!result.obj.contactsPhone</td>
                </tr>
                </tbody>
            </table>
            <div class="fl-right" style="width:40%;margin-right: -65px;">
                #if($!result.obj.enterpriseType=="1")
                <div class="">
                    #foreach($enterpphoto in $result.obj.enterprisephotoList)
                        #if($enterpphoto.dictCode=='200001')
                            <img src="$wmStringUtils.getUrlFullDefault($!enterpphoto.orgPath)" alt="企业营业执照" style="width: 200px;height: 110px;display: block;"/>
                            <span class="ft-orange">企业营业执照</span>
                        #end
                    #end
                </div>
                <div class="">
                    #foreach($enterpphoto in $result.obj.enterprisephotoList)
                        #if($enterpphoto.dictCode=='200002')
                            <img src="$wmStringUtils.getUrlFullDefault($!enterpphoto.orgPath)" alt="组织机构代码" style="width: 200px;height: 120px;display: block;"/>
                            <span class="ft-orange">组织机构代码</span>
                        #end
                    #end
                </div>
                <div class="">
                    #foreach($enterpphoto in $result.obj.enterprisephotoList)
                        #if($enterpphoto.dictCode=='200003')
                            <img src="$wmStringUtils.getUrlFullDefault($!enterpphoto.orgPath)" alt="税务登记证" style="width: 200px;height: 120px;display: block;"/>
                            <span class="ft-orange">税务登记证</span>
                        #end
                    #end
                </div>
                #else
                <div class="">
                    #foreach($enterpphoto in $result.obj.enterprisephotoList)
                        #if($enterpphoto.dictCode=='200004')
                            <img src="$wmStringUtils.getUrlFullDefault($!enterpphoto.orgPath)" alt="社会机构信用代码证" style="width: 200px;height: 120px;display: block;"/>
                            <span class="ft-orange">社会机构信用代码证</span>
                        #end
                    #end
                </div>
                #end
            </div>
        </div>
        #else
        <div class="mt-30 ml-60" style="display:inline-block;width: 80%;height:50px;line-height:50px;border-bottom: 2px solid #eee;">
            <span class="fl-left fs-lg" style="display: block;">个人认证</span>
            <span class="fl-right fs-xxxlg fw-ber closehtml" style="display: block;" >X</span>
        </div>
        <div class="ml-60 pt-20" style="width: 80%;height:360px;border: 1px solid #000000;">
            <table class="catetable" style="width: 50%;">
                <thead>
                <tr>
                    <th>认证类型</th>
                    <th class="ft-gray">个人</th>
                </tr>
                </thead>
                <tbody class="tl-center">
                <tr>
                    <td>姓名：</td>
                    <td class="ft-gray">$!result.obj.PersonName</td>
                </tr>
                <tr>
                    <td>手机号码：</td>
                    <td class="ft-gray">$!result.obj.PersonPhone</td>
                </tr>
                <tr>
                    <td>证件号码：</td>
                    <td class="ft-gray">$!result.obj.idCardNo</td>
                </tr>
                <tr>
                    <td>个人邮箱：</td>
                    <td class="ft-gray">$!result.obj.PersonEmail</td>
                </tr>
                <tr>
                    <td>身份证地址：</td>
                    <td class="ft-gray">$!result.obj.companyAddress</td>
                </tr>
                </tbody>
            </table>
            <div class="fl-right mt-20" style="width:40%;margin-right: -65px;">
                #foreach($enterpphoto in $result.obj.enterprisephotoList)
                    #if($enterpphoto.orgPath!="" && $enterpphoto.dictCode=='200005')
                        <div class="mb-3">
                            <img src="$wmStringUtils.getUrlFullDefault($!enterpphoto.orgPath)" alt="身份证正面照" style="width: 200px;height: 120px;display: block;"/>
                            <span class="ft-orange">身份证正面照</span>
                        </div>
                    #elseif($enterpphoto.orgPath!="" && $enterpphoto.dictCode=='200006')
                        <div class="mb-3">
                            <img src="$wmStringUtils.getUrlFullDefault($!enterpphoto.orgPath)" alt="身份证反面照" style="width: 200px;height: 120px;display: block;"/>
                            <span class="ft-orange">身份证反面照</span>
                        </div>
                    #end
                #end
            </div>
        </div>
        #end
  </div>
</div>

<script src="$request.getContextPath()/assets/js/jquery-1.8.1.min.js"></script>
<script src="$request.getContextPath()/assets/js/bui-min.js"></script>
      <script type="text/javascript" language="JavaScript">
          $(".closehtml").click(function(){
              window.history.back();
          });

      </script>
  </div>
</body>
</html>         