<div class="panel_title">
   账户信息
</div>
<div class="entrywrap clearfix">
	<div class="entry">
		<span class="e_title">用户名：</span>
		<input type="text" id="userName" name="userName" value=""/>
		<span class="event btn-save" id="saveUserNameBtn">保存</span>
	</div>
	<div class="entry">
		<span class="e_title">注册手机号码：</span>
		<input type="text" id="cellPhone" name="cellPhone" value="" readonly />
		<span class="event btn-change" id="saveCellPhoneBtn">更换</span>
	</div>
</div>

<div class="avator">
	<img id="photoShow" src="/assets/images/gray_img.jpg" alt="">
	<span class="text">限jpg格式，100x100px</span>
	<div class="upload-btn">
		<button class="uploadpic">上传头像</button>
		<input type="file" id="photoNew" name="_file" >
		<input type="hidden" id="photo" name="photo" >	
	</div>
</div>
<!-- 原型无
<div class="ca-status">
	<label>个人CA认证：</label>
	<span class="status">未认证</span>
	<a class="event btn-apply" href="AccountCa.html">申请</a>
	<a class="event btn-view" href="AccountCaView.html">查看</a>
</div>
 -->