<div class="position">
    <div class="logo">
        <img src="/assets/images/logo-bottom.png">
        <dl>
            <dt>全国服务热线</dt>
            <dd>400-006-5216</dd>
        </dl>
    </div>
    <div class="links">
        <dl>
            <dt>新手指南</dt>
            <dd>
                <div><a href="/pages/help.html?cid=9&aid=300">会员注册</a></div>
                <div><a href="/pages/help.html?cid=9&aid=299">资料修改</a></div>
                <div><a href="/pages/help.html?cid=9&aid=298">密码管理</a></div>
                <div><a href="/pages/help.html?cid=9&aid=297">常见问题</a></div>
            </dd>
        </dl>
        <dl>
            <dt>采购服务商</dt>
            <dd>
                <div><a href="/pages/help.html?cid=11&aid=304">管理收货地址</a></div>
                <div><a href="/pages/help.html?cid=11&aid=303">下单指南</a></div>
                <div><a href="/pages/help.html?cid=11&aid=302">采购指南</a></div>
                <div><a href="/pages/help.html?cid=11&aid=301">买家询价</a></div>
            </dd>
        </dl>
        <dl>
            <dt>供应商服务</dt>
            <dd>
                <div><a href="/pages/help.html?cid=12&aid=308">品牌申请</a></div>
                <div><a href="/pages/help.html?cid=12&aid=307">管理产品</a></div>
                <div><a href="/pages/help.html?cid=12&aid=306">发布产品</a></div>
                <div><a href="/pages/help.html?cid=12&aid=305">入驻指南</a></div>
            </dd>
        </dl>
        <dl>
            <dt>交易保障</dt>
            <dd>
                <div><a href="/pages/help.html?cid=13&aid=313">隐私安全</a></div>
                <div><a href="/pages/help.html?cid=13&aid=309">投诉举报</a></div>
                <div><a href="/pages/help.html?cid=13&aid=111">帐号安全</a></div>
                <div><a href="/pages/help.html?cid=13&aid=65">在线交易</a></div>
            </dd>
        </dl>
        <dl>
            <dt>关于我们</dt>
            <dd>
                <div><a href="/pages/help.html?cid=17&aid=296">关于我们</a></div>
                <div><a href="/pages/help.html?cid=17&aid=295">联系我们</a></div>
                <div><a href="/pages/help.html?cid=17&aid=294">服务条款</a></div>
                <div><a href="/pages/help.html?cid=17&aid=112">法律声明</a></div>
            </dd>
        </dl>
    </div>
    <div class="software">
        <dl class="app">
            <dt>手机版</dt>
            <dd>
                <img src="/assets/images/phone-app.jpg" alt="手机版" />
            </dd>
        </dl>
        <dl class="wechat">
            <dt>公众号</dt>
            <dd>
                <img  src="/assets/images/wechat.jpg" alt="公众号" />
            </dd>
        </dl>
    </div>
</div>
<div class="footbar">
    <ul>
        <li>
            <a href="/pages/help.html?cid=17&aid=296" title="关于我们">关于我们</a>
        </li>
        <li>
            <a href="/pages/help.html?cid=17&aid=294" title="服务条款">服务条款</a>
        </li>
        <li>
            <a href="/pages/help.html?cid=17&aid=112" title="法律声明">法律声明</a>
        </li>
        <li>
            <a href="/pages/help.html?cid=17&aid=295" title="联系我们">联系我们</a>
        </li>
    </ul>
    <div class="copyright">
        <p>Copyright © 2004-2016  网盟 版权所有，并保留所有权利。ICP备案证书号：浙ICP备B2-20150270</p>
    </div>
</div>