<div class="topbar position">
	<h1>
		<a href="/index.html" title="东方建材网"><img src="/assets/images/logo.png" /></a>
	</h1>
	<div class="search">
		<div class="select">
			<span class="selected" data-selected="1">产品</span><b class="arrow"></b>
			<ul class="select-menu">
				<li data-id="1">产品</li>
				<li data-id="2">供应商</li>
				<li data-id="3">品牌</li>
			</ul>
		</div>
		<form>
			<input type="hidden" value="1" name="category" id="searchtype">
			<input type="text" name="keywords" id="searchBox" class="text" placeholder="输入产品名称">
			<input type="submit" name="submit" value="" id="searchBtn">
		</form>
	</div>
	<div class="top-nav">
		<ul>
			<li class="logged">
				<a class="user-name"></a>
				<span class="logout">(<a href="javascript:logout()" title="退出">退出</a>)</span>
			</li>
			<li class="not-logged"><a href="/pages/login.html">登录</a></li>
			<li class="not-logged"><a href="/pages/register.html">注册</a></li>
			<li><a href="/pages/help.html">帮助中心</a></li>
		</ul>
		<div class="select language">
			<span class="selected cn">中文</span><b class="arrow"></b>
			<ul class="select-menu">
				<li class="cn">中文</li>
				<li class="en">En</li>
			</ul>
		</div>
	</div>
</div>