<div class="warp cl">
    <span class="top-link">
        <span class="pc">PC版</span>您好，欢迎来到<a href="/index.html">东方建材网</a>！
        <span>请拨打<span class="highlight">400-006-5216</span></span>
    </span> 
    <ul class="quick_list">
        <li>
            <a href="/index.html" title="首页">首页</a>
        </li>
        <li class="login">
            <s></s>  <!-- 分隔符 -->
            <a href="Account.html" target="iframe" data-id="1650" class="user-name"></a>
            <a href="#" class="exit">退出</a>
        </li>
        <li class="logout">
            <s></s><a href="/pages/login.html">登录</a>
        </li>
        <li><s></s>消息<a href="#" class="red">(0)</a></li>
        <li class="service dropdown">
            <s></s> <span class="outline"></span> <span class="blank"></span> <a href="javascript:void(0)">客户中心</a> <b></b>
            <div class="dropdown-menu">
                <ol>
                    <li><a href="#">新手指南</a></li>
                    <li><a href="#">买家帮助</a></li>
                    <li><a href="#">卖家帮助</a></li>
                    <li><a href="#">联系客服</a></li>
                </ol>
            </div>
        </li>
    </ul>
</div>
<script src="/assets/js/topbar.js"></script>