##------------------------------------------------------------------------
##  分页数据截取工具											
##
##  Author: 衣奎德
##  Created: 2016-11-11
##------------------------------------------------------------------------
#if(!$page && $result && $result.data)
 #set( $page = $result.data )
#end
 